#img1{
    position: absolute;
    left: 450px;
    top: 120px;
    height: 80%;
}

#img2{
    position: absolute;
    left: 1000px;
    top: 100px;
    height: 50%;
}

#img4{
    position: absolute;
    left: 1100px;
    top: 500px;
    height: 20%;
}

#img5{
    position: absolute;
    left: 750px;
    top: 35px;
    height: 30%;
}

#img6{
    position: absolute;
    left: 230px;
    top: 450px;
    height: 35%;
}